<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/comunidad.css">
    <link rel="stylesheet" href="https://cloudflare.com" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header>
        <section id="tittle_and_slogan_with_logo">
            <div class="text_and_title">
                <h1>
                    Comunidad carismatica catolica formando el cuerpo de cristo.
                </h1>
                <h3>
                    <i>
                        Casa de Oracion Emaus.
                    </i> 
                </h3>
            </div>
            <div class="image_container_logo">
                <img src="../assets/emaus logo.avif" alt="Comunidad carismatica catolica formando el cuerpo de cristo logo" id="comunidad_logo">
            </div>
        </section>
        <nav>
            <ul>
                <li id="Inicio_button"><a href="https://windtheking.github.io/Emaus-page-project/index.html">Inicio</a></li>
                <li id="Comunidad_button"><a href="https://windtheking.github.io/Emaus-page-project/templates/comunidad.html">Comunidad</a></li>
                <li id="Fundacion_button"><a href="https://windtheking.github.io/Emaus-page-project/templates/quienes_somos.html">¿Quienes somos?</a></li>
                <li id="Conformacion_button"><a href="https://windtheking.github.io/Emaus-page-project/templates/conformacion.html">Conformacion</a></li>
                <li id="Eventos_button"><a href="https://windtheking.github.io/Emaus-page-project/templates/eventos.html">Eventos</a></li>
                <li id="More_button"><Button>More</Button></li>
            </ul>
        </nav>
        <div id="apearing_options_menu_more">
            <ul>
                <li>
                    Vission
                </li>
                <li>
                    Mission
                </li>
            </ul>
        </div>
    </header>
    <main>
        <div id="sections_1">
            <h1 id="know_our_states">Conoce nuestros estados</h1>
        </div>
    </main>
</body>

<script src="../scripts/comunidad.js">
</script>