<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/quienes_somos.css">
    <link rel="stylesheet" href="https://cloudflare.com" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header>
        <section id="tittle_and_slogan_with_logo">
            <div class="text_and_title">
                <h1>
                    Comunidad carismatica catolica formando el cuerpo de cristo.
                </h1>
                <h3>
                    <i>
                        Casa de Oracion Emaus.
                    </i> 
                </h3>
            </div>
            <div class="image_container_logo">
                <img src="../assets/emaus logo.avif" alt="Comunidad carismatica catolica formando el cuerpo de cristo logo" id="comunidad_logo">
            </div>
        </section>
        <nav>
            <ul>
                <li id="Inicio_button" class="list-general-selection"><a href="https://windtheking.github.io/Emaus-page-project/index.html">Inicio</a></li>
                <li id="Comunidad_button" class="list-general-selection"><a href="https://windtheking.github.io/Emaus-page-project/templates/comunidad.html">Comunidad</a></li>
                <li id="Fundacion_button" class="list-general-selection"><a href="https://windtheking.github.io/Emaus-page-project/templates/quienes_somos.html">¿Quienes somos?</a></li>
                <li id="Conformacion_button" class="list-general-selection"><a href="https://windtheking.github.io/Emaus-page-project/templates/conformacion.html">Conformacion</a></li>
                <li id="Eventos_button" class="list-general-selection"><a href="https://windtheking.github.io/Emaus-page-project/templates/eventos.html">Eventos</a></li>
                <li id="More_button" class="list-general-selection"><Button>More</Button></li>
            </ul>
        </nav>
        <div id="apearing_options_menu_more">
            <ul>
                <li>
                    Vission
                </li>
                <li>
                    Mission
                </li>
            </ul>
        </div>
    </header>
    <main>
        <div id="sections_1">
            <div id="sub_section_1">
                <h1>¿Quienes somos?</h1>
                <br>
                <p>La Comunidad Carismática “FORMANDO EL CUERPO DE CRISTO” es una comunidad de laicos CATOLICOS- EUDISTA, MISIONERA, SACRAMENTAL, VIVA, DINAMICA Y SOLIDARIA que camina en la búsqueda de ser comunidad de oración, formación y de vida cristiana, comprometida mediante la Alianza de vida y evangelización de sus miembros.</p>
                <br>
                <p>El Espiritu Santo le fue revelando el ideario para la conformación de una Comunidad sólida, partiendo de que era inspiración Divina, que debía dejar que Dios obrara y revelara lo que Ël quería con esta obra: Es así como nace como fuente principal nuestro lema: “ FAMILIA EVANGELIZADA, FAMILIA EVANGELIZADORA” .</p>
                <br>
                <p>La parte espiritual de la comunidad es coordinada por un Consejo de Responsables el cual esta formado por   parejas matrimoniales y dos solteras quienes son las Secretarias del Consejo de Responsables y la Fundación. Todos son personas orantes, de formación espiritual, servidores de la Iglesia y de la Comunidad.</p>

            </div>
            <div id="sub_section_2">

            </div>
        </div>
    </main>
</body>

<script src="../scripts/quienes_somos.js">
</script>